


    <div class="container">

<form #configForm="ngForm">
  

<div class="card">

    <div class="card-body">
        <p>Cadastre opções de refeição, bebidas e sobremesas(opções de refeição podem ser cadastradas com preço 0,0):</p>
        <div class="login-input">
        <label>Nome: </label>
        <input type="text" class="form-control" name="name"  [(ngModel)]="item.name">
    </div>   
    <div class="login-input">
        <label>Categoria: </label>
        <select class="custom-select" name="opcaoCategoria" [(ngModel)]="item.category">
            <option *ngFor="let cat of categoriesOpt" [ngValue]="cat"> {{ cat }} </option>
          </select>
    </div>
    <div class="login-input">
        <label>Preço: </label>
        <input type="text" class="form-control" name="price"  [(ngModel)]="item.price">
    </div> 
    <div class="button">
    <button class="btn btn-primary" (click)="createItem()">Cadastrar</button>
    </div>
</div>
</div>
<div class="space"></div>
<div class="card">
    <div class="card-body">
    <div class="newItem-div">
        <div class="form-group">
            <label>Escolha as opções de carne do dia: </label>
            <select class="custom-select" name="opcaoCarne" [(ngModel)]="carneSelected">
          <option *ngFor="let meat of itens_meat" [ngValue]="meat"> {{ meat.name }} </option>
        </select>
        </div>
    </div>
    <div class="button">
    <button class="btn btn-primary" (click)="addItem()">AdicionaItem</button>
    </div>
    <div class="newItem-div">
        <div class="form-group">
            <label>Escolha as opções de arroz do dia: </label>
            <select class="custom-select" name="opcaoArroz" [(ngModel)]="principalSelected">
          <option *ngFor="let rice of itens_rice" [ngValue]="rice"> {{ rice.name }} </option>
        </select>
        </div>
    </div>
    <div class="button">
    <button class="btn btn-primary" (click)="addRice()">AdicionaItem</button>
</div>
    <div class="newItem-div">
        <div class="form-group">
            <label>Escolha as opções de acompanhamentos do dia: </label>
            <select class="custom-select" name="opcaoAcompanhamento" [(ngModel)]="acompanhamentoSelected">
          <option *ngFor="let plus of itens_plus" [ngValue]="plus"> {{ plus.name }} </option>
        </select>
        </div>
    </div>
    <div class="button">
    <button class="btn btn-primary" (click)="addPlus()">AdicionaItem</button>
    </div>
    <div class="space"></div>
    <div class="card">
        <div class="card-body">
    <table class="table">
        <thead>
            <tr>
                <th>Nome</th>
                <th>Categoria</th>
            </tr>
        </thead>
        <tr *ngFor="let i of meatItens">
            <td>{{ i.name }}</td>
            <td>{{ i.category }}</td>
        </tr>
        <tr *ngFor="let i of riceItens">
            <td>{{ i.name }}</td>
            <td>{{ i.category }}</td>
        </tr>
        <tr *ngFor="let i of plusItens">
            <td>{{ i.name }}</td>
            <td>{{ i.category }}</td>
        </tr>
    </table>
</div>
    </div>

    <div class="button">
    <button class="btn btn-primary" (click)="sendData()">Finalizar</button>
    <button class="btn btn-primary" (click)="cleanData()">Limpar</button>
</div>    
</div>
    </div>

    
    </form>




</div>