


    <div class="container">

<form #configForm="ngForm">
    <div class="card">
        <div class="card-body">
        <div class="login-input">
            <label>Nome: </label>
            <input type="text" class="form-control" name="name"  [(ngModel)]="item.name">
        </div>   
        <div class="login-input">
            <label>Categoria: </label>
            <input type="text" class="form-control" name="category"  [(ngModel)]="item.category">
        </div>
        <div class="login-input">
            <label>Preço: </label>
            <input type="text" class="form-control" name="price"  [(ngModel)]="item.price">
        </div> 
        <div class="button">
        <button class="btn btn-primary" (click)="createItem()">Cadastrar</button>
        </div>
    </div>
</div>
<div class="space"></div>
<div class="card">
    <div class="card-body">
    <div class="newItem-div">
        <div class="form-group">
            <label>Escolha as opções de carne do dia: </label>
            <select class="custom-select" name="opcaoCarne" [(ngModel)]="itens_meat">
          <option *ngFor="let meat of itens_meat" [ngValue]="meat"> {{ meat.name }} </option>
        </select>
        </div>
    </div>
    <div class="button">
    <button class="btn btn-primary" (click)="addItem()">AdicionaItem</button>
    </div>
    <div class="newItem-div">
        <div class="form-group">
            <label>Escolha as opções de arroz do dia: </label>
            <select class="custom-select" name="opcaoArroz" [(ngModel)]="itens_rice">
          <option *ngFor="let rice of itens_rice" [ngValue]="rice"> {{ rice.name }} </option>
        </select>
        </div>
    </div>
    <div class="button">
    <button class="btn btn-primary" (click)="addRice()">AdicionaItem</button>
</div>
    <div class="newItem-div">
        <div class="form-group">
            <label>Escolha as opções de acompanhamentos do dia: </label>
            <select class="custom-select" name="opcaoAcompanhamento" [(ngModel)]="itens_plus">
          <option *ngFor="let plus of itens_plus" [ngValue]="plus"> {{ plus.name }} </option>
        </select>
        </div>
    </div>
    <div class="button">
    <button class="btn btn-primary" (click)="addPlus()">AdicionaItem</button>
    </div>
    <div class="space"></div>
    <div class="card">
        <div class="card-body">
    <table class="table">
        <thead>
            <tr>
                <th>Nome</th>
                <th>Categoria</th>
                <th>Preço</th>
            </tr>
        </thead>
        <tr *ngFor="let i of meatItens">
            <td>{{ i.name }}</td>
            <td>{{ i.category }}</td>
            <td>{{ i.price }}</td>
        </tr>
        <tr *ngFor="let i of riceItens">
            <td>{{ i.name }}</td>
            <td>{{ i.category }}</td>
            <td>{{ i.price }}</td>
        </tr>
    </table>
</div>
    </div>

    <div class="button">
    <button class="btn btn-primary" (click)="sendData()">Finalizar</button>
</div>    
</div>
    </div>
<!-- 
    <div class="newItem-div">
        <div class="form-group">
            <label>Escolha as opções de carne do dia: </label>
            <select class="custom-select" name="opcaoProduto" [(ngModel)]="orderModel.product">
          <option *ngFor="let product of products" [ngValue]="product"> {{ product.descricao }} </option>
        </select>
    </div>

    <div class="newItem-div">
        <div class="form-group">
            <label>Escolha as opções de carne do dia: </label>
            <select class="custom-select" name="opcaoProduto" [(ngModel)]="orderModel.product">
          <option *ngFor="let product of products" [ngValue]="product"> {{ product.descricao }} </option>
        </select>
    </div> -->

        <!-- <button class="btn btn-primary" (click)="editInfo()" [disabled]="edit">Cadastrar</button> -->
    <!-- </div> -->
    
    </form>


    <!-- {{ meatItens }} -->

</div>