<div class="container">
    <div class="my-5">
    </div>
    <div class="card my-5" >
        <div class="card-header">
          <h5>Sobremesas</h5>
        </div>
        <div class="card-body">
            <form #orderForm="ngForm">
                <div class="form-row">
                    <div class="form-group col-md-10">
                        <label for="inlineFormInputName">Escolha sua sobremesa</label>
                        <select class="custom-select" [(ngModel)]="dessertOption" name="dessert_option" required>
                            <option value="">O que você gostaria de sobremesa?</option>
                            <option *ngFor="let dessert of desserts" value={{dessert._id}}> {{ dessert.name }} </option>
                        </select>
                    </div>

                    <div class="form-group col-md-2">
                        <label for="inlineFormInputName">Quantidade</label>
                        <input type="text" class="form-control" name="dessert_qunty" [(ngModel)]="dessertQunty" required>
                    </div>
                </div>       

                <button type="submit" class="btn btn-primary" (click)="addCart(dessertOption, dessertQunty)" title="always enabled">Adicionar ao carrinho</button>
            </form>
        </div>
    </div>
    <alert></alert>
</div>