
<div *ngIf="admin">
<div class="container">
    <div class="card">
        <div class="card-body">
            <button class="btn btn-primary" (click)="optDia()">Configurações</button>
<table class="table">
    <thead>
        <tr>
            <th>Quantidade</th>
            <th>Descrição</th>
            <th>Total sem desconto</th>
            <th>Total do desconto</th>
            <th>Total</th>
        </tr>
    </thead>
    <tr *ngFor="let i of sales">
        <td>{{ i }}</td>
        <td>{{ i }}</td>
        <td>{{ i}}</td>
        <td>{{ i }}</td>
        <td>{{ i }}</td>
    </tr>
</table>
<button class="btn btn-primary" (click)="calcTotal()">Fechar caixa</button>
</div>
</div>
</div>
</div>
<alert></alert>
