
    <form #loginForm="ngForm">
        <div class="login-div">
            <div class="login-input">
                <label>Email: </label>
                <input type="text" class="form-control" name="email"  [(ngModel)]="user.email">
            </div>
            <div class="login-input">
                <label>Senha: </label>
                <input type="text" class="form-control" name="password"  [(ngModel)]="user.password">
            </div>
        <a class="nav-link" href="/register">Não possui cadastro? Clique aqui</a>
        <button class="btn btn-primary" (click)="loginAuth()">Entrar</button>
    </div>
    
    </form>
