<div class="container">
    <div class="card my-5" >
        <div class="card-header">
          <h5>Refeição</h5>
        </div>
        <div class="card-body">
            <p>Refeições por entrega.</p>
            <p>Clique para escolher suas opções de refeições.</p>
            <a href="meal" class="btn btn-primary">Escolher opções</a>
        </div>
    </div>

    <div class="card my-5" >
        <div class="card-header">
          <h5>Bebida</h5>
        </div>
        <div class="card-body">
            <p>Clique para escolher suas opções de bebidas.</p>
            <a href="drink" class="btn btn-primary">Escolher bebida</a>
        </div>
    </div>

    <div class="card my-5" >
        <div class="card-header">
          <h5>Sobremesa</h5>
        </div>
        <div class="card-body">
            <p>Clique para escolher suas opções de sobremesa.</p>
            <a href="dessert" class="btn btn-primary">Escolher sobremesa</a>
        </div>
    </div>

</div>



